@media screen and (min-width :760px) 
{
    .menu-mobile{
        display: none;
    }
    #demo-app .container .row {
        gap: 20px;
        flex-direction:row;
        
    }
}
/* MEDIA MOBILE */
@media  screen and (max-width : 760px)
 {
    .menu-desktop{
        display: none;
    }
 
}